Repository Bamdoliro/G, pull requests merged in 2022-07, with the labels that each got.

#79 Feat/chat
  src/main/java/com/bamdoliro/gati/domain/chat/domain/Message.java
  src/main/java/com/bamdoliro/gati/domain/chat/domain/Room.java
  src/main/java/com/bamdoliro/gati/domain/chat/domain/RoomMember.java
  src/main/java/com/bamdoliro/gati/domain/chat/domain/repository/MessageRepository.java
  src/main/java/com/bamdoliro/gati/domain/chat/domain/repository/RoomMemberRepository.java
  src/main/java/com/bamdoliro/gati/domain/chat/domain/repository/RoomRepository.java
  src/main/java/com/bamdoliro/gati/domain/chat/domain/type/MessageType.java
  src/main/java/com/bamdoliro/gati/domain/chat/exception/RoomNotFoundException.java
  src/main/java/com/bamdoliro/gati/domain/chat/facade/RoomFacade.java
  src/main/java/com/bamdoliro/gati/domain/chat/presentation/RoomController.java
  src/main/java/com/bamdoliro/gati/domain/chat/presentation/RoomMemberController.java
  src/main/java/com/bamdoliro/gati/domain/chat/service/RoomMemberService.java
  src/main/java/com/bamdoliro/gati/domain/chat/service/RoomService.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/test/java/com/bamdoliro/gati/domain/board/service/BoardServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/chat/facade/RoomFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/chat/service/RoomMemberServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/chat/service/RoomServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/CommunityFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/MemberFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/MemberServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/user/facade/UserFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/user/service/UserServiceTest.java
Labels: ✨ Feature, ✅ Test

#62 Feat/community delete
  src/main/java/com/bamdoliro/gati/domain/community/domain/Community.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/property/CommunityProperty.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/repository/CommunityRepository.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/type/Status.java
  src/main/java/com/bamdoliro/gati/domain/community/exception/CannotDeleteCommunityException.java
  src/main/java/com/bamdoliro/gati/domain/community/facade/CommunityFacade.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/CommunityController.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/CommunityFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
Labels: ✨ Feature, ✅ Test

#86 Feat/chat
  src/main/java/com/bamdoliro/gati/domain/chat/domain/repository/RoomMemberRepository.java
  src/main/java/com/bamdoliro/gati/domain/chat/exception/RoomMemberNotFoundException.java
  src/main/java/com/bamdoliro/gati/domain/chat/facade/RoomMemberFacade.java
  src/main/java/com/bamdoliro/gati/domain/chat/presentation/RoomMemberController.java
  src/main/java/com/bamdoliro/gati/domain/chat/service/RoomMemberService.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/test/java/com/bamdoliro/gati/domain/chat/facade/RoomMemberFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/chat/service/RoomMemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#96 Feat/do
  src/main/java/com/bamdoliro/gati/domain/board/domain/Board.java
  src/main/java/com/bamdoliro/gati/domain/board/domain/Report.java
  src/main/java/com/bamdoliro/gati/domain/board/domain/repository/BoardRepository.java
  src/main/java/com/bamdoliro/gati/domain/board/domain/repository/ReportRepository.java
  src/main/java/com/bamdoliro/gati/domain/board/domain/type/board/BoardStatus.java
  src/main/java/com/bamdoliro/gati/domain/board/domain/type/report/ReportCategory.java
  src/main/java/com/bamdoliro/gati/domain/board/domain/type/report/ReportStatus.java
  src/main/java/com/bamdoliro/gati/domain/board/domain/type/report/ReportType.java
  src/main/java/com/bamdoliro/gati/domain/board/exception/ReportNotFoundException.java
  src/main/java/com/bamdoliro/gati/domain/board/exception/ReportOverlapException.java
  src/main/java/com/bamdoliro/gati/domain/board/facade/BoardFacade.java
  src/main/java/com/bamdoliro/gati/domain/board/facade/ReportFacade.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/BoardController.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/ReportController.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/request/CreateBoardRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/request/CreateReportRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/request/UpdateBoardRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/response/BoardResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/response/ReportDetailResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/response/ReportResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/board/service/BoardService.java
  src/main/java/com/bamdoliro/gati/domain/board/service/ReportService.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/Community.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/repository/CommunityRepository.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/repository/MemberRepository.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/type/CommunityStatus.java
  src/main/java/com/bamdoliro/gati/domain/community/facade/CommunityFacade.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/main/java/com/bamdoliro/gati/domain/ddo/domain/Ddo.java
  src/main/java/com/bamdoliro/gati/domain/ddo/domain/DdoJoin.java
  src/main/java/com/bamdoliro/gati/domain/ddo/domain/Recommendation.java
  src/main/java/com/bamdoliro/gati/domain/ddo/domain/repository/DdoJoinRepository.java
  src/main/java/com/bamdoliro/gati/domain/ddo/domain/repository/DdoRepository.java
  src/main/java/com/bamdoliro/gati/domain/ddo/domain/type/DdoStatus.java
  src/main/java/com/bamdoliro/gati/domain/ddo/exception/AlreadyJoinException.java
  src/main/java/com/bamdoliro/gati/domain/ddo/exception/DdoNotFoundException.java
  src/main/java/com/bamdoliro/gati/domain/ddo/exception/ExcessOfCapacityException.java
  src/main/java/com/bamdoliro/gati/domain/ddo/facade/DdoFacade.java
  src/main/java/com/bamdoliro/gati/domain/ddo/presentation/DdoController.java
  src/main/java/com/bamdoliro/gati/domain/ddo/presentation/DdoJoinController.java
  src/main/java/com/bamdoliro/gati/domain/ddo/presentation/dto/request/CreateDdoRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/ddo/presentation/dto/response/DdoDetailResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/ddo/presentation/dto/response/DdoResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/ddo/service/DdoJoinService.java
  src/main/java/com/bamdoliro/gati/domain/ddo/service/DdoService.java
  src/main/java/com/bamdoliro/gati/domain/user/domain/User.java
  src/main/java/com/bamdoliro/gati/domain/user/domain/type/UserStatus.java
  src/main/java/com/bamdoliro/gati/domain/user/presentation/dto/request/CreateUserRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/user/presentation/dto/response/GetUserResponseDto.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/test/java/com/bamdoliro/gati/domain/board/service/BoardServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/CommunityFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/ddo/service/DdoServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/user/facade/UserFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/user/service/UserServiceTest.java
Labels: ✨ Feature, 🔨 Refactor

#102 ADD :: 내 커뮤니티 조회 (#98)
  src/main/java/com/bamdoliro/gati/domain/community/presentation/CommunityController.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/main/java/com/bamdoliro/gati/domain/user/domain/User.java
Labels: ✨ Feature

#99 Feat/chat
  src/main/java/com/bamdoliro/gati/domain/chat/domain/Room.java
  src/main/java/com/bamdoliro/gati/domain/chat/domain/repository/RoomRepository.java
  src/main/java/com/bamdoliro/gati/domain/chat/domain/type/RoomStatus.java
  src/main/java/com/bamdoliro/gati/domain/chat/facade/RoomFacade.java
  src/main/java/com/bamdoliro/gati/domain/chat/presentation/RoomController.java
  src/main/java/com/bamdoliro/gati/domain/chat/presentation/RoomMemberController.java
  src/main/java/com/bamdoliro/gati/domain/chat/presentation/dto/response/RoomResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/chat/service/RoomService.java
  src/main/java/com/bamdoliro/gati/domain/user/domain/User.java
  src/test/java/com/bamdoliro/gati/domain/chat/facade/RoomFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/chat/service/RoomServiceTest.java
Labels: ✨ Feature, ✅ Test

#101 Feat/auth
  src/main/java/com/bamdoliro/gati/domain/user/presentation/AuthController.java
  src/main/java/com/bamdoliro/gati/domain/user/presentation/UserController.java
  src/main/java/com/bamdoliro/gati/domain/user/service/AuthService.java
  src/main/java/com/bamdoliro/gati/domain/user/service/UserService.java
  src/main/java/com/bamdoliro/gati/global/error/ErrorResponse.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/main/java/com/bamdoliro/gati/global/redis/RedisService.java
  src/main/java/com/bamdoliro/gati/global/security/SecurityConfig.java
  src/main/java/com/bamdoliro/gati/global/security/jwt/JwtProperties.java
  src/main/java/com/bamdoliro/gati/global/security/jwt/JwtTokenProvider.java
  src/main/java/com/bamdoliro/gati/global/security/jwt/JwtValidateService.java
  src/main/java/com/bamdoliro/gati/global/security/jwt/exception/ExpiredTokenException.java
  src/main/java/com/bamdoliro/gati/global/security/jwt/exception/InvalidTokenException.java
  src/main/java/com/bamdoliro/gati/global/security/jwt/filter/JwtAuthenticationFilter.java
  src/main/java/com/bamdoliro/gati/global/security/jwt/filter/JwtExceptionFilter.java
  src/main/java/com/bamdoliro/gati/global/utils/CookieUtil.java
Labels: 🐞 Bug, ✨ Feature

#105 Feat/ddo Ddo 테스트 코드
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/request/UpdateBoardRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/ddo/presentation/DdoJoinController.java
  src/main/java/com/bamdoliro/gati/domain/ddo/service/DdoJoinService.java
  src/test/java/com/bamdoliro/gati/domain/board/service/BoardServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/ddo/service/DdoJoinServiceTest.java
Labels: ✅ Test

#112 [Test/like service] Like Service Test
  src/main/java/com/bamdoliro/gati/domain/board/facade/LikeFacade.java
  src/test/java/com/bamdoliro/gati/domain/board/facade/LikeFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/board/service/LikeServiceTest.java
Labels: 🔨 Refactor, ✅ Test

#113 [test/board-facade] Board Facade Test
  src/main/java/com/bamdoliro/gati/domain/board/facade/BoardFacade.java
  src/main/java/com/bamdoliro/gati/domain/board/service/BoardService.java
  src/test/java/com/bamdoliro/gati/domain/board/facade/BoardFacadeTest.java
Labels: 🔨 Refactor, ✅ Test
