Repository Bamdoliro/G, pull requests merged in 2022-05, with the labels that each got.

#19 Feat/community
  src/main/java/com/bamdoliro/gati/domain/community/domain/Community.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/repository/CommunityRepository.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/CommunityController.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/request/CreateCommunityRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/main/java/com/bamdoliro/gati/domain/user/domain/User.java
  src/main/java/com/bamdoliro/gati/global/utils/BooleanToYNConverter.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
Labels: ✨ Feature, ✅ Test

#21 Feat/refactor
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/request/CreateCommunityRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/main/java/com/bamdoliro/gati/domain/user/presentation/UserController.java
  src/main/java/com/bamdoliro/gati/domain/user/presentation/dto/request/CreateUserRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/user/presentation/dto/response/GetUserResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/user/service/UserService.java
Labels: 🔨 Refactor

#23 Feat/community
  src/main/java/com/bamdoliro/gati/domain/community/domain/Member.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/repository/MemberRepository.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/type/Authority.java
  src/main/java/com/bamdoliro/gati/domain/community/exception/CommunityNotFoundException.java
  src/main/java/com/bamdoliro/gati/domain/community/facade/CommunityFacade.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/MemberController.java
  src/main/java/com/bamdoliro/gati/domain/community/service/MemberService.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/test/java/com/bamdoliro/gati/domain/community/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#26 Feat/refactor
  src/main/java/com/bamdoliro/gati/domain/community/service/MemberService.java
  src/main/java/com/bamdoliro/gati/domain/user/facade/UserFacade.java
  src/main/java/com/bamdoliro/gati/domain/user/service/UserService.java
  src/test/java/com/bamdoliro/gati/domain/community/service/MemberServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/user/facade/UserFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/user/service/UserServiceTest.java
Labels: 🔨 Refactor, ✅ Test

#27 Feat/community
  src/main/java/com/bamdoliro/gati/domain/community/presentation/MemberController.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/main/java/com/bamdoliro/gati/domain/community/service/MemberService.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/MemberServiceTest.java
Labels: ✨ Feature, 🔨 Refactor, ✅ Test

#25 Feat/board
  src/main/java/com/bamdoliro/gati/domain/board/domain/Board.java
  src/main/java/com/bamdoliro/gati/domain/board/domain/repository/BoardRepository.java
  src/main/java/com/bamdoliro/gati/domain/board/exception/BoardNotFoundException.java
  src/main/java/com/bamdoliro/gati/domain/board/facade/BoardFacade.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/BoardController.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/request/CreateBoardRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/response/BoardDetailDto.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/response/BoardResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/board/service/BoardService.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/Community.java
  src/main/java/com/bamdoliro/gati/domain/user/domain/User.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/main/resources/application.yml
Labels: ✨ Feature

#38 Feat/community create
  build.gradle
  src/main/java/com/bamdoliro/gati/domain/community/domain/Community.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/repository/CommunityRepository.java
  src/main/java/com/bamdoliro/gati/domain/community/facade/CommunityFacade.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/request/CreateCommunityRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/main/java/com/bamdoliro/gati/global/utils/RandomCodeUtil.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/CommunityFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
Labels: ✨ Feature, ✅ Test

#42 Feat/community private
  src/main/java/com/bamdoliro/gati/domain/community/domain/Community.java
  src/main/java/com/bamdoliro/gati/domain/community/exception/BadCreateCommunityRequestException.java
  src/main/java/com/bamdoliro/gati/domain/community/exception/CommunityPasswordMismatchException.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/MemberController.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/request/CreateCommunityRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/request/JoinCommunityRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/main/java/com/bamdoliro/gati/domain/community/service/MemberService.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#46 Feat/member check
  src/main/java/com/bamdoliro/gati/domain/community/domain/repository/MemberRepository.java
  src/main/java/com/bamdoliro/gati/domain/community/exception/UserNotCommunityMemberException.java
  src/main/java/com/bamdoliro/gati/domain/community/facade/MemberFacade.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/MemberFacadeTest.java
Labels: ✨ Feature, ✅ Test

#50 Feat/board
  src/main/java/com/bamdoliro/gati/domain/board/domain/Board.java
  src/main/java/com/bamdoliro/gati/domain/board/domain/repository/BoardRepository.java
  src/main/java/com/bamdoliro/gati/domain/board/facade/BoardFacade.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/BoardController.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/request/CreateBoardRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/board/presentation/dto/response/BoardResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/board/service/BoardService.java
Labels: ✨ Feature
