Repository Bamdoliro/G, pull requests merged in 2022-06, with the labels that each got.

#52 Feat/leader change
  src/main/java/com/bamdoliro/gati/domain/community/domain/Member.java
  src/main/java/com/bamdoliro/gati/domain/community/domain/repository/MemberRepository.java
  src/main/java/com/bamdoliro/gati/domain/community/exception/BadChangeCommunityLeaderRequestException.java
  src/main/java/com/bamdoliro/gati/domain/community/exception/MemberNotFoundException.java
  src/main/java/com/bamdoliro/gati/domain/community/facade/MemberFacade.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/MemberController.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/request/ChangeCommunityLeaderRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/community/service/MemberService.java
  src/main/java/com/bamdoliro/gati/global/error/exception/ErrorCode.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/CommunityFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/MemberFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#56 Feat/community get
  src/main/java/com/bamdoliro/gati/domain/community/domain/Community.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/CommunityController.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/response/CommunityDetailResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/response/CommunityResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
Labels: ✨ Feature, ✅ Test

#58 Feat/community get
  src/main/java/com/bamdoliro/gati/domain/community/domain/repository/CommunityRepository.java
  src/main/java/com/bamdoliro/gati/domain/community/facade/CommunityFacade.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/CommunityController.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/response/CommunityDetailResponseDto.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/CommunityFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
Labels: ✨ Feature, ✅ Test

#60 SET :: CODEOWNERS (#59)
  .github/CODEOWNERS
Labels: ⚙️ Setting

#53 Feat/api docs
  build.gradle
  src/main/java/com/bamdoliro/gati/global/config/SwaggerConfig.java
  src/main/java/com/bamdoliro/gati/global/security/SecurityConfig.java
  src/main/resources/application.yml
Labels: 📄 Docs, ⚙️ Setting

#61 Feat/community update
  src/main/java/com/bamdoliro/gati/domain/community/domain/Community.java
  src/main/java/com/bamdoliro/gati/domain/community/exception/AuthorityMismatchException.java
  src/main/java/com/bamdoliro/gati/domain/community/exception/BadPasswordAndCommunityTypeException.java
  src/main/java/com/bamdoliro/gati/domain/community/facade/CommunityFacade.java
  src/main/java/com/bamdoliro/gati/domain/community/facade/MemberFacade.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/CommunityController.java
  src/main/java/com/bamdoliro/gati/domain/community/presentation/dto/request/UpdateCommunityRequestDto.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/CommunityFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/MemberFacadeTest.java
  src/test/java/com/bamdoliro/gati/domain/community/service/CommunityServiceTest.java
Labels: ✨ Feature, 🔨 Refactor, ✅ Test

#65 TEST :: Board 상세 조회 테스트
  src/test/java/com/bamdoliro/gati/domain/board/service/BoardServiceTest.java
Labels: ✅ Test

#64 FIX :: isPublic 이상해...
  src/main/java/com/bamdoliro/gati/domain/community/domain/Community.java
  src/main/java/com/bamdoliro/gati/domain/community/service/CommunityService.java
Labels: 🐞 Bug

#66 Feat/board
  src/main/java/com/bamdoliro/gati/domain/user/service/UserService.java
  src/main/java/com/bamdoliro/gati/global/security/SecurityConfig.java
  src/main/java/com/bamdoliro/gati/global/security/jwt/filter/JwtAuthenticationFilter.java
  src/main/java/com/bamdoliro/gati/global/utils/CookieUtil.java
  src/test/java/com/bamdoliro/gati/domain/board/service/BoardServiceTest.java
  src/test/java/com/bamdoliro/gati/domain/community/facade/CommunityFacadeTest.java
Labels: ✅ Test
